$bootstrap-icons-font-src: url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
body {
    font-family: "Anek Bangla", sans-serif;
}

h1, .h1 {
    font-weight: 800;
}

.container-fluid {
    &.hero-1 {
        height: 100vh;
        background-image: url("/../images/labor-wasser-mexico-hero-1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .hero-left {
            background-color: rgba(0, 148, 255, 0.8);
            height: 100vh;
            padding: 5%;
            h1 {
                font-size: 3.8em;
                line-height: 1em;
                color: white;
            }
            .highlight-hero {
                background-color: #012A94;
                padding: 1em;
                color: white;
            }
        }
    }
    &.about {
        background-color: #F4F4F4;
        height: 100vh;
        margin-top: -8%;
            .left-info {
                padding: 3%;
            }
            .hero-2 {
            height: 100vh;
            background-image: url("/../images/labor-wasser-mexico-hero-2.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
    }
    &.cta {
        height: 70vh;
        .left {
            height: 70vh;
            background-image: url("/../images/labor-wasser-mexico-hero-4.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-right: #8AC905 solid 10px;
        }
        .right {
            height: 70vh;
            background-image: url("/../images/labor-wasser-mexico-hero-3.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            padding-top: 10%;
        }
    }
    .footer {
        margin-top: 3.5em;
        height: 55vh;
        background-color: #eeeeee;
    }
    .text-muted {
        padding: 10px 0 0 0;
        background-color: #012A94;
        color: white !important;
    }
    a {
        color: white !important;
    }
    &.hero-sections {
        height: 40vh;
        background-image: url("/../images/labor-wasser-mexico-hero-5.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        h1  {
            margin-top: 2.25em;
            color: white;
        }
    }
}
.container {
    &.numbers {
        background-color: #012A94;
        border-radius: 20px;
        margin-top: -8%;
        position: relative;
        z-index: 1;
        padding: 5em 1em;
        color: white;
    }
    &.products {
        h1 {
            color: #012A94;
            font-size: 3em;
            margin-top: 1em;
        }
        h6 {
            font-weight: 600;
            color: #012A94;
        }
        .products-list {
            p {
                margin-bottom: .35rem;
                span {
                    &.labels {
                        font-size: .9em;
                    }
                }
            }
            a {
                color: #8AC905;
                text-decoration: none;
                font-weight: 600;
            }
            a:hover {
                color: #0094FF;
            }
            .btn-space {
                margin: 3em 0 5em 0;
            }
        }
    }
    &.clients {
        h1 {
            color: #012A94;
            font-size: 3em;
            margin-top: 1em;
        }
    }
    &.products-cards {
        margin-top: 4em;
        margin-bottom: 4em;
        h2 {
            font-weight: 600;
            color: #012A94;
            text-transform: uppercase;
            margin-bottom: 2em;
        }
        .card {
            padding: 3em !important;
            h3 {
                font-weight: 600;
                color: #012A94;
                margin: .85em auto;
                text-transform: uppercase;
            }
            a {
                color: #8AC905;
                text-decoration: none;
                font-weight: 600;
            }
            img {
                .card-img-top {
                    width: 60%;
                }
            }
        }
    }
}

.card {
    border-radius: 10px;
    padding: 8px;
    border: none;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.36);
}

.g-4, .gy-4 {
    --bs-gutter-y: 2.25rem;
}

.g-4, .gx-4 {
    --bs-gutter-x: 2.25rem;
}

.separator {
    border-top: 8px solid #4EC8FC;
    opacity: 1;
    width: 15%;
    display: block;
    margin: 0 auto 4em auto !important;
}

hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.btn-primary, .btn-secondary {
    border-radius: 0 !important;
    font-size: 1.1em;
    padding: .45em 2em;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #8AC905;
    border: 2px solid #8AC905;
}

.btn-secondary {
    background-color: white;
    border: 2px solid #8AC905;
    color: #8AC905;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0094FF;
    border: 2px solid white;
}

